
.color-best {
  color: #10a0de;
  fill: #10a0de;
}

.color-offline {
  color: #f65445;
  fill: #f65445;
}

.color-warning {
  color: #e4b232;
  fill: #e4b232;
}

.color-success {
  color: #7bcc3a;
}

.color-gray {
  color: #767676;
  fill: #767676;
}

.color-orange {
  color: #e4b232;
  fill: #e4b232;
}