a {
  color: #0e97c0;
  text-decoration: none;
  cursor: pointer;
}

body {
  height: 100%;
}

html {
  background: #0c0f14;
  color: #FEFEFE;
  font-size: 14px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}